
.image-ready{

    background-image: url('../../assets/bg.jpg');
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;


}

.buttons--ready {
   
    margin-top: -8%;
} 



 @media only screen and (min-width: 1024px) {
    .buttons--ready {
        margin-top: -12%;
    }
  } 