
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

.mainCollapsible{
   background: black;
}

.containerCollapsibleFci {
   width: 100%;
   padding: 3% 8% 8% 4%;
   display: flex;
   align-items: center;
   background: black;
   height: 100vh;
}

.titleFCI{
    color:white;
    font-size: 45px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 3%;
}

.imageDragonCollapsible, .fciCollapsible {
   width: 50%;
   display: flex;
   justify-content: center;
}

.imageDragonCollapsible img {
   width:100%;
}

.fciCollapsible {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.fciCollapsible .Collapsible{
   color: #f2f2f2;
   font-family: 'Roboto condensed', sans-serif;
   font-weight: 300;
   width: 70%;
   background-color:  #8dc3bd;
   margin: 1px auto;
   border-radius: 7px;
   padding: 3%;
   font-size: 20px;
   cursor: pointer;
}  


span.Collapsible__trigger.is-open {
   color: white;
}

.Collapsible.excellenceAct {
   background-color: #ed46a5;
}

.Collapsible.constInnov {
  background-color:#A42AFB;
}

.Collapsible.teamPlayer {
   background-color:#0097A7;
}

.fciCollapsible ul.excellence li span {
   color: #ED46A5;
}

.fciCollapsible ul.constantly li span {
   color: #a42afb;
}

.fciCollapsible ul.team li span {
   color: #0097a7;
}

.fciCollapsible .Collapsible__contentOuter {
   background-color: white;
   border-radius: 10px;
   margin-top: 2%;
   display: flex;
   justify-content: center;
}

.fciCollapsible ul {
   margin-top: 4%;
   list-style: none;
   padding: 0;
}

.fciCollapsible ul li {
   text-align: left;
   color: black;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 200;
}

span.Collapsible__trigger.is-open {
    color: black;
}


.buttons--careerpath{
   margin-top: -120px;
}