@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');


.containerCollapsible {
   width: 100%;
   padding: 8% 8% 8% 4%;
   display: flex;
   align-items: center;
   background: black;
  
   height: 100vh;

}


.titleCareerPath{

    color:white;
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
  margin-top: -100px;
}
.imageCollapsible, .careersCollapsible {
   width: 50%;
   display: flex;
   justify-content: center;
   
}

.imageCollapsible img {
   width:80%;
}

.careersCollapsible {
   display: flex;
   flex-direction: column;
   text-align: center;
}



  .Collapsible{
 

   color: #f2f2f2;
   font-family: 'Roboto condensed', sans-serif;
   font-weight: 300;
   width: 70%;
   background-color:  #828282;
   margin: 1px auto;
   border-radius: 7px;
   padding: 3%;
   font-size: 20px;
}  



span.Collapsible__trigger.is-open {
   color: white;
}

.Collapsible.initial {
   background-color: #09A387;
}

.Collapsible.senior {
  background-color:#6C93E1;
}

.Collapsible.expert {
   background-color: #941342;
}

.Collapsible.seniormgmt {
   background-color: #ED873B;
}

.Collapsible__contentOuter {
   background-color: #eaeaea;
   border-radius: 10px;
   margin-top: 2%;
}

ul {
   margin-top: 4%;

}

ul li {
   text-align: left;
   color: gray;
   font-family: 'Roboto Condensed', sans-serif;

   font-weight: 200;
}



  span.Collapsible__trigger.is-open {
    color: black;
}


 
.expertlist {
   display: flex;
}

ul.exp {
   width: 50%;
}
  

