*{
  background: black;
}

.content{
  display: flex;
  justify-content: center;
  margin-top:7%;
}

.welcome-title {

  text-align: center;
  color:white;
  font-size: 45px;
  font-weight: 400;
}

.image-welcome{
  display: flex;
  margin: auto;
  width: 70%;
}

.form_user{
display: flex;
align-items: center;
}

form.form_user {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

input.input_user {
  background: white;
  font-weight: 500;
  margin-right: 1%;
  padding: 5px 0 5px 10px;
  font-size: 22px;
  width: 35%;
  border: none;
}

input.input_user::placeholder {
  color: #c7c7c7;
}

input.enter_user {
  background-color: #0ED145;
  border-radius: 10px;
  padding: 5px 25px;
  color: white;
  font-size: 22px;
  border: none;
}

/* .enter_user{
  background: green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */