body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.buttons{

  display: flex;
    justify-content: space-between;
    margin: 0 5% 5%;


}

.button_previous {
  font-size: 'Roboto condensed' sans serif;
  background-color: #d8a91c;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

.button_next{
  font-size: 'Roboto condensed' sans serif;
  background-color: #d8a91c;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}